:root {
  /* Fonts */
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* Colors */
  --primary-color: #757575;
  --secondary-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --black-color: #000000;

  --light-background-color: #ffffff;
  --dark-background-color: #2f303a;
}

body {
  font-family: var(--primary-font), 'Tahoma', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-color);

  background-color: var(--light-background-color);
}

/* Common Styles */
.link {
  text-decoration: none;
  color: inherit;
}

.button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: inherit;
  color: inherit;

  padding: 0;
}

.list {
  list-style: none;

  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.section-dark {
  background-color: var(--dark-background-color);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: var(--secondary-color);
}

.accent {
  color: var(--accent-color);
}

.content-width {
  width: 1170px;

  margin-left: auto;
  margin-right: auto;
}

.site-logo {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* Семантичне скриття елементів */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Header */
.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.header > .content-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-nav {
}

/* Logo */
.header .site-logo {
  color: var(--black-color);
}

/* Navigation */
.site-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-link {
}

/* Contacts */
.contacts-list {
  display: flex;
  align-items: center;
}

.contact-link {
}

/* Main */

/* Hero */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white-color);
}
/* Advantages */

/* Activities */

/* Our team */

/* Footer */
.footer .site-logo {
  color: var(--white-color);
}
